
body {
    margin: 0px;
}

.wrap {

    margin: 10px auto;

}
.header-inner{
    position:relative;


}
#head_img {
    width:100vw;
   height:400px;
}

/*img {*/
/*    width:100vw;*/
/*    height: 400px;*/
/*}*/

h1 {
    color: lightgray;
    font-size: xxx-large;
    position:absolute;
    top:275px;
    left:80px;
    letter-spacing:13px;
}

h3 {
    color: lightslategray;
    position:absolute;
    font-size: medium;
    top:220px;
    left:400px;
    letter-spacing:8px;
}

.is-sparta {
    color: #065e3f !important;
}
#board{
    width:70vw;
    margin: auto;
}

.section {
    padding: 1rem 1.5rem;
    max-width: 750px;
    margin: auto;
}


/*----------------------------------------*/
.card {
    width: 538px;
    border-radius: 5px;
    background-color: #ffffff;
    margin-bottom: 12px;
}

.contents {
    padding: 0px 23px;
    word-wrap: break-word;
    word-break: break-all;
}

.contents div.edit {
    display: none;
}

.contents textarea.te-edit {
    border-right: none;
    border-top: none;
    border-left: none;
    resize: none;
    border-bottom: 1px solid #212529;
    width: 100%;
    font-family: 'Spoqa Han Sans';
}

#logout-text {
    position: absolute;
    left: 1750px;
    top: 18px;
    font-size: 18px;
    font-size: 18px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.36px;
    text-align: center;
    color: #065e3f;
}
#username {
    position: absolute;
    left: 1600px;
    top: 18px;
    font-size: 18px;
    font-size: 18px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.36px;
    text-align: center;
    color: #065e3f;

}
#login-text{
    position: absolute;
    left: 800px;
    top: 18px;
    font-size: 18px;
    font-size: 18px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.36px;
    text-align: center;
    color: #065e3f;
}
#signup-text {
    position: absolute;
    left: 1000px;
    top: 18px;
    font-size: 18px;
    font-size: 18px;
    font-weight: 550;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: 0.36px;
    text-align: center;
    color: #065e3f;
}







