<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>익명 비밀게시판</title>
    <!--    벌마 css링크-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!--       uikit css 링크                      -->
    <link rel="stylesheet" href="css1/uikit.min.css"/>
    <script src="uikitjs/uikit.min.js"></script>
    <script src="uikitjs/uikit-icons.min.js"></script>
    <!--    css,js링크-->
    <link th:href="@{/css1/detail.css}" rel="stylesheet"/>


    <script>
        $(document).ready(function () {
            getOneLog();
            getReply();

        });

        //log 수정용
        function isValidContents(contents) {
            if (contents == '') {
                alert('내용을 입력해주세요');
                return false;
            }
            if (contents.trim().length > 1000) {
                alert('공백 포함 1000자 이하로 입력해주세요');
                return false;
            }
            return true;
        }

        function editPost(id) {
            showEdits(id);
            let contents = $(`#${id}-contents`).text().trim();
            $(`#${id}-textarea`).val(contents);
        }

        function showEdits(id) {
            $(`#${id}-editarea`).show();
            $(`#${id}-submit`).show();
            $(`#${id}-delete`).show();

            $(`#${id}-contents`).hide();
            $(`#${id}-edit`).hide();
        }


        function getOneLog() {
            $('#article-box').empty();

            let idx = location.href.split("id=")[1];
            $.ajax({
                type: 'GET',
                url: `/api/logs/${idx}`,
                success: function (response) {
                    console.log(response);
                    let log = response;
                    let id = log.id;
                    let title = log.title;
                    let category = log.category
                    let username = log.username;
                    let contents = log.contents;
                    let modifiedAt = log.modifiedAt;
                    addOneLog(id, title, username, contents, modifiedAt, category);

                }
            })
        }

        function addOneLog(id, title, username, contents, modifiedAt, category) {
            let tempHtml = `    <h2 class="uk-article-title"><a class="uk-link-reset" href="" id="${id}-title">${title}</a></h2>
                        <br>
    <br>
    <p class="uk-article-meta">Written by <a href="#"id="${id}-username">${username}</a> 비밀주제: <a href="https://ko.wikipedia.org/wiki/${category}" id="${id}-category">${category}</a></p>
        <br>
    <br>
    <p class="uk-text-lead"id="${id}-contents">${contents}</p>
    <div id="${id}-editarea" class="edit">
                        <textarea id="${id}-textarea" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                    </div>
    <br>

    <p>${modifiedAt}</p>

    <div class="uk-grid-small uk-child-width-auto" uk-grid>
        <div>
            <a class="uk-button uk-button-text" href="#">Read more</a>
        </div>
        <div>
            <a class="uk-button uk-button-text" href="#">5 Comments</a>
        </div>
        <a sec:authorize ="isAuthenticated()" class="uk-icon-link" uk-icon="icon: file-edit; ratio: 2" onclick="editPost('${id}')" id="${id}-edit"></a>
            <span class="uk-icon-button" uk-icon="icon: check; ratio: 2" onclick="submitEdit(${id})" id="${id}-submit"></span>
            <a sec:authorize ="isAuthenticated()" class="uk-icon-link" uk-icon="icon: trash; ratio: 2" onclick="deleteOne('${id}')" id="${id}-delete"></a>
                <a href="/" class="uk-icon-link uk-margin-small-right" uk-icon="icon: close; ratio: 2"></a>

    </div>`
            $('#article-box').append(tempHtml);

        }

        function deleteOne(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/logs/${id}`,
                success: function (response) {
                    if(response == false) {
                        alert("로그인 해주세요.")
                        window.location.replace("/user/login")
                    } else {
                        alert('게시글 삭제에 성공하였습니다.');
                        window.location.replace("/");
                    }

                }
            })
        }

        function submitEdit(id) {
            // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
            let contents = $(`#${id}-textarea`).val().trim();

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidContents(contents) == false) {
                return;
            }

            // 3. 전달할 data JSON으로 만듭니다.
            let data = {'contents': contents};

            // 4. PUT /api/memos/{id} 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/api/logs/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if(response == false) {
                        alert("로그인 해주세요.")
                        window.location.replace("/user/login")
                    } else {
                        alert('게시글 변경에 성공하였습니다.');
                        window.location.reload();
                    }
                }
            });



        }

        //---------------------------유저체크-------------------------------------
        function userCheck() {
            $.ajax({
                type: "GET",
                url: "/api/userCheck",
                success: function (response) {
                    let usercheck = response;
                    if (usercheck == "") {
                        alert('로그인 해주세요')
                        window.location.replace("/user/login")
                    }
                }
            });
        }

        //-----------------------여기부터 댓글-------------------------------------------

        function editPosts(id) {
            showEditss(id);
            let comment = $(`#${id}-comment`).text().trim();
            $(`#${id}-textareas`).val(comment);
        }

        function showEditss(id) {
            $(`#${id}-editareas`).show();
            $(`#${id}-submits`).show();
            $(`#${id}-deletes`).show();

            $(`#${id}-comment`).hide();
            $(`#${id}-edits`).hide();
        }

        function submitEdits(id) {
            // 1. 작성 대상 메모의 username과 contents 를 확인합니다.
            let comment = $(`#${id}-textareas`).val().trim();

            // 2. 작성한 메모가 올바른지 isValidContents 함수를 통해 확인합니다.
            if (isValidcomment(comment) == false) {
                return;
            }

            // 3. 전달할 data JSON으로 만듭니다.
            let data = {'comment': comment};

            // 4. PUT /api/memos/{id} 에 data를 전달합니다.
            $.ajax({
                type: "PUT",
                url: `/api/replys/${id}`,
                contentType: "application/json",
                data: JSON.stringify(data),
                success: function (response) {
                    if(response == false) {
                        alert("로그인 해주세요.")
                        window.location.replace("/user/login")
                    } else {
                        alert('메시지 변경에 성공하였습니다.');
                        window.location.reload();
                    }
                }
            });
        }
        function deleteCheck(id){
            if(confirm("정말 삭제하시겠습니까 ?") == true){
                deletereply(id);
            }
            else{
                return ;
            }
        }





        function deletereply(id) {
            $.ajax({
                type: "DELETE",
                url: `/api/replys/${id}`,
                success: function (response) {
                    if(response == false) {
                        alert("로그인 해주세요.")
                        window.location.replace("/user/login")
                    } else {
                        alert('메시지 삭제에 성공하였습니다.');
                        window.location.reload();
                    }
                }
            })
        }





        function isValidcomment(comment) {
            if (comment == "") {
                alert('댓글을 입력해주세요');
                return false;
            }
            if (comment.trim().length > 1000) {
                alert('공백 포함 1000자 이하로 입력해주세요');
                return false;
            }

            return true;
        }

        function getReply() {
            $('#post-box').empty();
            let logId = location.href.split("id=")[1];
            $.ajax({
                type: 'GET',
                url: `/api/replys/${logId}`,
                success: function (response) {
                    for (let i = 0; i < response.length; i++) {
                        let reply = response[i];
                        let id = reply.id
                        let username = reply.username;
                        let comment = reply.comment;
                        let modifiedAt = reply.modifiedAt;
                        addReplys(id, username, comment, modifiedAt);
                    }
                }
            })
        }

        function addReplys(id, username, comment, modifiedAt) {
            let tempHtml = `<div class="box">
            <article class="media">
                <div class="media-left">
                    <a class="image is-64x64" href="#">
                        <img class="is-rounded"
                             src= "chars/4.ico" alt="Image">
                    </a>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong id="${id}-username">${username}</strong> <small></small> <small id="${id}-modifiedAt">${modifiedAt}</small>
                            <br>
                            <div id="${id}-comment">
                            ${comment}
                            </div>
                            <div id="${id}-editareas" class="edit">
                        <textarea id="${id}-textareas" class="te-edit" name="" id="" cols="30" rows="5"></textarea>
                    </div>
                        </p>
                    </div>
                    <div>
                    <a sec:authorize ="isAuthenticated()" class="uk-icon-link" uk-icon="icon: file-edit; ratio: 2" onclick="editPosts('${id}')" id="${id}-edits"></a>
            <span class="uk-icon-button" uk-icon="icon: check; ratio: 2" onclick="submitEdits('${id}')" id="${id}-submits"></span>
            <a sec:authorize ="isAuthenticated()" class="uk-icon-link" uk-icon="icon: trash; ratio: 2" onclick="deleteCheck('${id}')" id="${id}-deletes"></a>

                        </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>

                    </nav>
                </div>
            </article>
        </div>`

            $('#post-box').append(tempHtml);

        }

        function replyPost() {

            let comment = $('#textarea-post').val().trim();
            let logId = location.href.split("id=")[1];

            if (isValidcomment(comment) == false) {
                return;
            }
            let data = {'comment': comment, 'logId': logId};

            $.ajax({
                type: "POST",
                url: "/api/replys",
                contentType: "application/json", // JSON 형식으로 전달함을 알리기
                data: JSON.stringify(data),
                success: function (response) {
                    alert("댓글을 성공적으로 작성하였습니다.");
                    $("#modal-post").removeClass("is-active")
                    window.location.reload()
                }
            });
        }


    </script>


</head>
<body>
<div class="wrap">
    <nav class="navbar is-fixed-top is-black" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <strong class="is-sparta"
                        style="font-family: 'Stylish', sans-serif;font-size: larger;">OUR OWN SECRET</strong>
            </a>
            <a sec:authorize="isAuthenticated()" id="logout-text" href="/user/logout">
                로그아웃
            </a>
            <a sec:authorize="!isAuthenticated()" id="login-text" href="/user/login">
                로그인
            </a>
            <a sec:authorize="!isAuthenticated()" id="signup-text" href="/user/signup">
                회원가입
            </a>
            <div id="username" sec:authorize="isAuthenticated()">
                <span th:text="${username}"></span>님
            </div>
        </div>
    </nav>
    <div id="header" class="header">
        <div id="header-inner" class="header-inner">
            <div class="text">
                <h1>OUR OWN SECRET</h1>
                <h3>익명으로 비밀 나누기</h3>>
            </div>
            <img src="./images/OUR%20OWN%20SECRET%20배경만.png" alt="" id="head_img"/>
        </div>
    </div>
</div>

<article class="uk-article" id="article-box">
</article>

<!--모달 포스팅 띄우는곳-->
<section class="section">
    <article class="media">
        <figure class="media-left" style="align-self: center">
            <a class="image is-32x32" href="#">
                <img class="is-rounded" src="chars/4.ico">
            </a>
        </figure>
        <div class="media-content">
            <div class="field">
                <p class="control">
                    <input id="input-post" class="input is-rounded" placeholder="무슨 생각을 하고 계신가요?"
                           onclick='userCheck(),$("#modal-post").addClass("is-active")'></p>
            </div>
        </div>
    </article>
</section>
<!--댓글 하나하나-->
<section class="section">
    <div id="post-box" class="container">
        <div class="box">
            <article class="media">
                <div class="media-left">
                    <a class="image is-64x64" href="#">
                        <img class="is-rounded"
                             src="chars/4.ico" alt="Image">
                    </a>
                </div>
                <div class="media-content">
                    <div class="content">
                        <p>
                            <strong>홍길동</strong> <small>@username</small> <small>10분 전</small>
                            <br>
                            글을 적는 칸
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">
                        </div>

                    </nav>
                </div>
            </article>
        </div>

    </div>
</section>
<!--모달-->
<div class="modal" id="modal-post">
    <div class="modal-background" onclick='$("#modal-post").removeClass("is-active")'></div>
    <div class="modal-content">
        <div class="box">
            <article class="media">
                <div class="media-content">
                    <div class="field">
                        <p class="control">
                                        <textarea id="textarea-post" class="textarea"
                                                  placeholder="무슨 생각을 하고 계신가요?"></textarea>
                        </p>
                    </div>
                    <nav class="level is-mobile">
                        <div class="level-left">

                        </div>
                        <div class="level-right">
                            <div class="level-item">
                                <a class="button is-sparta" onclick="replyPost();">포스팅하기</a>
                            </div>
                            <div class="level-item">
                                <a class="button is-sparta is-outlined"
                                   onclick='$("#modal-post").removeClass("is-active")'>취소</a>
                            </div>
                        </div>
                    </nav>
                </div>
            </article>
        </div>
    </div>
    <button class="modal-close is-large" aria-label="close"
            onclick='$("#modal-post").removeClass("is-active")'></button>
</div>

</body>
</html>